body {
  margin: 0;
  padding: 0;
  color :rgb(55, 96, 171)
}

h2, p {
  margin: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #94bbfd;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: rgb(23, 58, 153);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #7d3232;
}